// MOBILE/TABLETTE
@media screen and (max-width: $tab){
    footer{
        display: flex;
        flex-direction: column;
        padding-left: 7%;
        padding-bottom: 5%;
        background-color: #423f3f;
        color: white;
        & h2{
            margin-top: 3%;
            font-family: 'Shrikhand', cursive;
            font-size: $h1;
            font-weight: lighter;
        }
        & a{
            color: white;
            text-decoration: none;
        }
        & p {
            margin-top: 1.5%;
            & i{
                width: 16px;
                margin-right: 1.5%;
            }
        }
    }
}

// PC
@media screen and (min-width: $tab){
    footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 3em;
        background-color: #423f3f;
        color: white;
        padding-top: 3em;
        & h2{
            font-family: 'Shrikhand', cursive;
            font-size: $h1;
            font-weight: lighter;
            margin-right: 3em;
            margin-left: 3em;
        }
        & a{
            color: white;
            text-decoration: none;
            margin-right: 3em;

        }
        & p {
            & i{
                width: 16px;
                margin-right: 0.5em;
            }
        }
    }
}