// MOBILE
@media screen and (max-width: $mobile){
    #hero{
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        & p{
            padding: 1em;
            // border: 1px solid black;
            text-align: center;
            background-color: #ebe8e8;
            font-weight: bold;
            font-size: $h2;
            & i{
                margin-right: 5%;
            }
        }
        &__menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            background-color: #f2f2f2;
            // border: 1px solid black;
            & h1{
                text-align: center;
                width: 100%;
                font-size: $h1;
                padding: 1.5em 0 0 0;
            }
            & h2{
                text-align: center;
                width: 100%;
                font-size: $h2;
                font-weight: normal;
                padding: 1.5em 0 0 0;
            }
        }
    }
    #process{
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 3em 0 0 0;
        & .process__centrer{
            // border: 1px solid black;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        & h2{
            font-size: $h1;
            margin-bottom: 2em;
            max-width: 480px;
            width: 90%;
            // border: 1px solid black;
        }
        & .process__choix{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid black;
            margin: 0 0 2em 2%;
            max-width: 300px;
            width: 100%;
            display: flex;
            border-radius: 15px;
            height: 60px;
            background-color: #f2f2f2;
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
            & span{
                // border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color1;
                color: white;
                padding: 0.3em;
                margin-right: 7%;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-left: -5%;
            }
            & i{
                // border: 1px solid black;
                margin-right: 4%;
                color: grey;
                font-size: 130%;
            }
            & p{
                // border: 1px solid black;
                margin-left: 1em;
                font-weight: bold;
                font-size: $p;
                flex: 1;
            }
        }
        & .process__choix-selected{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid black;
            margin: 0 0 2em 2%;
            width: 100%;
            max-width: 300px;
            display: flex;
            border-radius: 15px;
            height: 60px;
            background-color: adjust-color($color: $color1, $lightness: 33%,);
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
            & span{
                // border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color1;
                color: white;
                padding: 0.3em;
                margin-right: 7%;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-left: -5%;
            }
            & i{
                // border: 1px solid black;
                margin-right: 2.5%;
                color: $color1;
                font-size: 130%;
            }
            & p{
                // border: 1px solid black;
                flex: 1;
                margin-left: 1em;
                font-weight: bold;
                font-size: $p;
            }
        }
    }
    #restaurants{
        margin: 10% 0 0% 0;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.5em;
        .restaurants__pc{
            // border: 1px solid black;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // flex-direction: column;
            width: 100%;
            max-width: 480px;
            &__duo{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
        & h2{
            // border: 1px solid black;
            width: 90%;
            font-size: $h1;
            max-width: 480px;
            margin: 2em 0 1em 0;
        }
        & .restaurants__card {
            display: flex;
            flex-direction: column;
            // border: 1px solid black;
            position: relative;
            width: 90%;
            height: 270px;
            text-decoration: none;
            color: black;
            @include box;
            margin-bottom: 10%;
            background-color: white;
            &__new{
                position: absolute;
                display: flex;
                justify-content: flex-end;
                font-weight: bold;
                color: adjust-color($color: $color3, $hue: 0, $saturation: 0%, $lightness: -40%, $alpha: 1.0);
                // border: 1px solid black;
                width: 100%;
                & p {
                    background-color: $color3;
                    padding: 0.5em 1em 0.5em 1em;
                    border-radius: 2px;
                    margin-right: 3%;
                }
            }
            &:hover{
                box-shadow: 0px 7px 15px -3px rgba(0,0,0,0.4);
                border: 2px solid $color1;
            }
            & img{
                width: 100%;
                height: 75%;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-position: 20% 80%;
            }
            & .lanote{
                object-position: 40% 60%;
            }
            &__note{
                display: flex;
                align-items: center;
                // border: 1px solid black;
                height: 30%;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                padding: 2%;
                justify-content: space-between;
                & .coeur{
                    margin-right: 1em;
                }
            }
            & h3{
                font-size: $h2;
            }
            & p{
                font-size: $p;
                margin-top: 3%;
            }
    
        }
    }
}

// TABLETTE
@media screen and (min-width: $mobile) and (max-width: $tab){
    #hero{
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        & p{
            padding: 3%;
            // border: 1px solid black;
            text-align: center;
            background-color: #ebe8e8;
            font-weight: bold;
            font-size: $h2;
            & i{
                margin-right: 5%;
            }
        }
        &__menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            background-color: #f2f2f2;
            // border: 1px solid black;
            & br{
                display: none;
            }
            & h1{
                text-align: center;
                white-space: nowrap;
                width: 100%;
                font-size: $h1;
                padding: 7% 0 0 0;
                // border: 1px solid black;
            }
            & h2{
                text-align: center;
                width: 90%;
                font-size: $h2;
                font-weight: normal;
                padding: 3% 0 0 0;
                // border: 1px solid black;
            }
            & a{
                margin: 7% 0 10% 0;
            }
        }
    }
    #process{
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        margin: 3em 0 0 0%;
        align-items: center;
        & h2{
            display: flex;
            justify-content: center;
            font-size: $h1;
            margin-bottom: 3em;
        }
        & .process__centrer{
            // border: 1px solid black;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        & .process__choix{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid black;
            margin: 0 0 3em 2%;
            width: 90%;
            max-width: 350px;
            display: flex;
            border-radius: 15px;
            height: 60px;
            background-color: #f2f2f2;
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
            & span{
                // border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color1;
                color: white;
                padding: 1%;
                margin-right: 5%;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-left: -3%;
            }
            & i{
                // border: 1px solid black;
                margin: 0 5% 0 5%;
                color: grey;
                font-size: 130%;
            }
            & p{
                // border: 1px solid black;
                flex: 1;
                margin-left: 4%;
                font-weight: bold;
                font-size: $p;
            }
        }
        & .process__choix-selected{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid black;
            margin: 0 0 3em 2%;
            width: 90%;
            max-width: 350px;
            display: flex;
            border-radius: 15px;
            height: 60px;
            background-color: adjust-color($color: $color1, $lightness: 33%,);
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
            & span{
                // border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color1;
                color: white;
                padding: 1%;
                margin-right: 5%;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-left: -3%;
            }
            & i{
                // border: 1px solid black;
                margin: 0 5% 0 5%;
                color: $color1;
                font-size: 130%;
            }
            & p{
                // border: 1px solid black;
                flex: 1;
                margin-left: 4%;
                font-weight: bold;
            }
        }
    }
    #restaurants{
        margin: 2em 0 0% 0;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2em;
        .restaurants__pc{
            // border: 1px solid black;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // flex-direction: column;
            width: 100%;
            &__duo{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
        & h2{
            display: flex;
            justify-content: center;
            // border: 1px solid black;
            width: 100%;
            margin: 2em 0 3em 0;
        }
        & .restaurants__card {
            display: flex;
            position: relative;
            flex-direction: column;
            // border: 1px solid black;
            width: 90%;
            max-width: 450px;
            height: 270px;
            text-decoration: none;
            color: black;
            @include box;
            margin-bottom: 4em;
            background-color: white;
            &__new{
                position: absolute;
                display: flex;
                justify-content: flex-end;
                font-weight: bold;
                color: adjust-color($color: $color3, $hue: 0, $saturation: 0%, $lightness: -40%, $alpha: 1.0);
                // border: 1px solid black;
                width: 100%;
                & p {
                    background-color: $color3;
                    padding: 0.5em 1em 0.5em 1em;
                    border-radius: 2px;
                    margin-right: 3%;
                }
            }
            &:hover{
                box-shadow: 0px 7px 15px -3px rgba(0,0,0,0.4);
                border: 2px solid $color1;
            }
            & img{
                width: 100%;
                height: 75%;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            &__note{
                display: flex;
                align-items: center;
                // border: 1px solid black;
                height: 30%;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                padding: 2%;
                justify-content: space-between;
                & .coeur{
                    margin-right: 1em;
                }
            }
            & h3{
                font-size: $h2;
            }
            & p{
                font-size: $p;
                margin-top: 3%;
            }
    
        }
    }
}

// PC
@media screen and (min-width: $tab){
    #hero{
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        & p{
            padding: 1.5em;
            // border: 1px solid black;
            text-align: center;
            background-color: #ebe8e8;
            font-weight: bold;
            font-size: $h1;
            & i{
                margin-right: 2.5em;
            }
        }
        &__menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            background-color: #f2f2f2;
            // border: 1px solid black;
            & br{
                display: none;
            }
            & h1{
                text-align: center;
                white-space: nowrap;
                width: 100%;
                font-size: $h1;
                padding: 2.5em 0 0 0;
                // border: 1px solid black;
            }
            & h2{
                text-align: center;
                width: 90%;
                font-size: $h2;
                font-weight: normal;
                padding: 2em 0 0 0;
                // border: 1px solid black;
            }
        }
    }
    #process{
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        margin: 5em 0 0 0;
        align-items: center;
        & .process__centrer{
            display: flex;
            justify-content: center;
            width: 90%;
            // border: 1px solid black;
        }
        & h2{
            display: flex;
            justify-content: center;
            font-size: $h1;
            margin-bottom: 3em;
        }
        & .process__choix{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid black;
            width: 33%;
            max-width: 500px;
            margin-right: 5%;
            display: flex;
            border-radius: 15px;
            height: 80px;
            background-color: #f2f2f2;
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
            & span{
                // border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color1;
                color: white;
                padding: 0.5em;
                margin-right: 5%;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-left: -1em;
            }
            & i{
                // border: 1px solid black;
                margin: 0 5% 0 2%;
                color: grey;
                font-size: 130%;
            }
            & p{
                // border: 1px solid black;
                flex: 1;
                font-weight: bold;
                margin-left: 2%;
                font-size: $p;
            }
        }
        & .process__choix-selected{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid black;
            margin: 0 0 2em 2em;
            width: 33%;
            max-width: 500px;
            display: flex;
            border-radius: 15px;
            height: 80px;
            background-color: adjust-color($color: $color1, $lightness: 33%,);
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
            & span{
                // border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color1;
                color: white;
                padding: 0.5em;
                margin-right: 5%;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-left: -1em;
            }
            & i{
                // border: 1px solid black;
                margin: 0 5% 0 2%;
                color: $color1;
                font-size: 130%;
            }
            & p{
                // border: 1px solid black;
                flex: 1;
                margin-left: 2%;
                font-weight: bold;
            }
        }
    }
    #restaurants{
        margin: 4em 0 0 0;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 1px solid black;
        padding-bottom: 3em;
        & h2{
            display: flex;
            justify-content: center;
            // border: 1px solid black;
            width: 100%;
            margin: 2em 0 2em 0;
        }
        .restaurants__pc{
            // border: 1px solid black;
            width: 100%;
            display: flex;
            // flex-wrap: ;
            justify-content: center;
            &__duo{
                // border: 1px solid black;
                width: 100%;
                display: flex;
                justify-content: space-around;

            }
        }
        & .restaurants__card {
            display: flex;
            position: relative;
            flex-direction: column;
            // border: 1px solid black;
            width: 90%;
            max-width: 400px;
            min-width: 180px;
            height: 270px;
            text-decoration: none;
            color: black;
            @include box;
            margin: 0 1.5em 3em 1.5em;
            background-color: white;
            &__new{
                position: absolute;
                display: flex;
                justify-content: flex-end;
                font-weight: bold;
                color: adjust-color($color: $color3, $hue: 0, $saturation: 0%, $lightness: -40%, $alpha: 1.0);
                // border: 1px solid black;
                width: 100%;
                & p {
                    background-color: $color3;
                    padding: 0.5em 1em 0.5em 1em;
                    border-radius: 2px;
                    margin-right: 3%;
                }
            }
            &:hover{
                box-shadow: 0px 7px 15px -3px rgba(0,0,0,0.4);
                border: 2px solid $color1;
            }
            & img{
                width: 100%;
                height: 75%;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            &__note{
                display: flex;
                align-items: center;
                // border: 1px solid black;
                height: 30%;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                padding: 2%;
                justify-content: space-between;
                & .coeur{
                    margin-right: 1em;
                }
            }
            & h3{
                font-size: $h2;
            }
            & p{
                font-size: $p;
                margin-top: 3%;
            }    
        }
    }
}