$color1: #9356DC;
$color2: #FF79DA;
$color3: #99E2D0;

$h1: 140%;
$h2: 100%;
$p: 80%;

$btn-fade: linear-gradient(355deg, #9356DC 5%, #FF79DA 100%);
$border-rad: 2rem;
$border-rad2: 15px;

$shadow-box: 0px 7px 15px -3px rgba(0,0,0,0.2);

$loader: 3s